<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Home - Caleb Coughenour</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="~/css/styles.css" rel="stylesheet" type="text/css">
</head>
<ul class="topnav">
  <a id="nav-name-link" href="/"><h1 class="nav-title">Caleb Coughenour</h1></a>
  <li><a href="/" class="active">Home</a></li>
  <li><a href="/aboutme">About Me</a></li>
  <li><a href="/projects">Projects</a></li>
  <li><a href="/resume">Resume</a></li>  
  <div class="dropdown">
    <button class="dropbtn">Contact</button>
    <div class="dropdown-content">
      <li class="phone-number">(703)-498-9801</li>
      <a href="https://www.linkedin.com/in/CalebCoughenour">LinkedIn</a>
      <a href="mailto: calebcoughenour@protonmail.com">Email</a>
    </div>
  </div>
</ul>
<body id="home-body">
  <div class="container">
    <main role="main" class="pb-3">
      @RenderBody()
      <img id="home-img-banner" src="./img/Splash/mt-hood.jpg" />
    </main>
  </div>
  @await Html.PartialAsync("Footer")
</body>
</html>
