<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Home - Caleb Coughenour</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="~/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body id="home-body">
  <div class="container">
    <ul class="topnav">
      <a id="nav-name-link" href="/"><h1 class="nav-title">Caleb Coughenour</h1></a>
      <li><a href="/" class="active">Home</a></li>
      <li><a href="/aboutme">About Me</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/resume">Resume</a></li>
    </ul>
    <main role="main" class="pb-3">
      @RenderBody()
      <img id="home-img-banner" src="./img/Splash/mt-hood.jpg" />
    </main>
    @await Html.PartialAsync("Footer")
  </div>
</body>
</html>
