    <footer class="border-top footer text-muted">
        <div class="container">
            <h5 id="footer-header">&copy; 2022 - Caleb Coughenour - <a id="footer-link" href="mailto: calebcoughenour@protonmail.com">Email</a></h5>                
        </div>
    </footer>