@{
    ViewData["Title"] = "At'choo Dating Site Details";
}

<div class="card">
    <div class="card-body">
        <div class="card-title">At-Choo Details</div>
        <div class="card-text">
            <div class="atchoo-card">

                <img src="..\img\Atchoo\homepage.png" alt="A screenshot of the homepage after log in." />

                <div class="row">
                    <div class="col-6">
                        <h5>Languages</h5>
                        <ul>
                            <li>C#</li>
                            <li>HTML</li>
                            <li>CSS</li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <h5>Technologies</h5>
                        <ul>
                            <li>ASP.NET Core</li>
                            <li>Identity</li>
                            <li>SQL</li>
                            <li>Entity Framework</li>
                        </ul>
                    </div>
                </div>
                <div class="row">                 
                    <div class="col-6">
                        <img class="atchoo-img" src="../img/Atchoo/Atchoo-Create-Profile.png" alt="Screenshot of create profile page.">
                    </div>
                
                    <div class="col-6">
                        <img class="atchoo-img" src="../img/Atchoo/Atchoo-Created-Profile.png" alt="Screenshot of created profile.">
                    </div>   
                   
                </div>
                <p>
                    A web application that allows a user to create authentication and login to the website with their authenticated credentials. After becoming an authorized user, a user can create a user profile and add their allergies. Once their user profile and allergies have been added our application will match users with other users with complimentary/similar allergies for dating purposes. The application has full crud functionality for authenticated users. Non-authenticated users can interact with the site and see the full list of allergies.
                </p>
            </div>
        </div>
    </div>
</div>