@{
    ViewData["Title"] = "Caleb's Projects";
}

<div class="card">
  <div class="card-title"><h1>Caleb's Projects</h1></div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <div class="project-card">
            <div class="card-title">
              <h1>Column 1</h1>
            </div>
            <img src="img/atchoo-home-page.png" alt="Screenshot of splash page for atchoo dating site">
            <p>Some text here!</p>
          </div>
        </div>
        <div class="col-6">
          <div class="project-card">
            <div class="card-title">
              <h1>Column 2</h1>
            </div>
            <img src="img/crypto-home-page.png" alt="Screenshot of splash page for crypto site">
            <p>Some text here!</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="project-card">
            <div class="card-title">
              <h1>Column 1</h1>
            </div>
            <img src="img/sillystringz-home-page.png" alt="Screenshot of splash page for sillystringz webpage">
            <p>Some text here!</p>
          </div>
        </div>
        <div class="col-6">
          <div class="project-card">
            <div class="card-title">
              <h1>Column 2</h1>
            </div>
            <img src="img/pierres-bakery-home-page.png" alt="Screenshot of splash page for sillystringz webpage">
            <p>Some text here!</p>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>