@{
    ViewData["Title"] = "Caleb's Projects";
}

<ul class="topnav">
  <a id="nav-name-link" href="/"><h1 class="nav-title">Caleb Coughenour</h1></a>
  <li><a href="/">Home</a></li>
  <li><a href="/aboutme">About Me</a></li>
  <li><a href="/projects" class="active">Projects</a></li>
  <li><a href="/resume">Resume</a></li>
</ul>
<body class="project-body">
  <div class="jumbotron">
    <h1>Caleb Coughenour's Projects</h1>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <div class="project-card">
          <div class="card-title">
            <a href="/projects/atchoodetails"><h1>At'Choo Dating Site</h1></a>
          </div>
          <img src="img/Atchoo/atchoo-home-page.png" alt="Screenshot of splash page for atchoo dating site">
        </div>
      </div>
      <div class="col-6">
        <div class="project-card">
          <div class="card-title">
            <a href="/projects/cryptodetails"><h1>Crypto API Site</h1></a>
          </div>
          <img src="img/Crypto/crypto-home-page.png" alt="Screenshot of splash page for crypto site">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="project-card">
          <div class="card-title">
            <a href="/projects/sillystringzdetails"><h1>SillyStringz Details</h1></a>
          </div>
          <img src="img/SillyStringz/sillystringz-home-page.png" alt="Screenshot of splash page for sillystringz webpage">
        </div>
      </div>
      <div class="col-6">
        <div class="project-card">
          <div class="card-title">
            <a href="/projects/pierresdetails"><h1>Pierre's Orderbook Details</h1></a>
          </div>
          <img src="img/PierresBakery/pierres-bakery-home-page.png" alt="Screenshot of splash page for sillystringz webpage">
        </div>
      </div>
    </div>      
  </div>
</body>