@{
    ViewData["Title"] = "Caleb's Resume";
}
<div class="resume-card">
  <div class="resume-card-title"><a href="https://docs.google.com/document/d/1auHm1COF9XTHjD9bBQcYys9oAFIezcC-LlX1i5VFnrw/edit?usp=sharing" target="_blank" rel="noopener noreferrer">Caleb Coughenour's Resume</a></div>
    <div class="card-body">
      <p>
        Vancouver, WA<br>
        <a href="mailto: CalebCoughenour@protonmail.com">CalebCoughenour@protonmail.com</a><br>
        <a href="https://github.com/CalebCoughenour" target="_blank" rel="noopener noreferrer">github.com/CalebCoughenour</a><br>
        <a href="https://linkedin.com/in/CalebCoughenour" target="_blank" rel="noopener noreferrer">linkedin.com/in/CalebCoughenour</a>
      </p>
      <h4>Caleb Coughenour - Web Developer</h4>
      <hr />
      <h4>ABOUT ME</h4>
      <p>
        Dependable, hard working web developer looking to start my first developer job. Thrilled to be starting a new career path in the tech field after working in the customer service industry. I work with React, JavaScript, C#, CSS and HTML. I’ve learned how to work with SQL databases, APIs and different libraries such as jQuery.
      </p>
      <h4>SKILLS</h4>
      <p>
          Javascript * React * JQuery * C# * HTML * CSS * Node.js * ASP.NET * SQL
      </p>
      <p>
        TDD *	API * Database * Entity Framework * Git Versions Control * Pair Programming
      </p>
      <div class="row">
        <div class="col-sm-6">
          <h4>EDUCATION</h4>
          <h5>
            <u>EPICODUS</u> - <em>C# & JavaScript</em>
          </h5>
          <p>March 2022 - Present, Portland OR</p>
          <ul>
            <li>Refined skills such as communication, organization & discipline through pair programming & the fast pace bootcamp</li>
            <li>Learned standards for building a webpage</li>
            <li>Built over 40 projects with a pair or team and over 20 independently</li>
          </ul>        
        </div>
        <div class="col-sm-6">          
          <h4>PROJECTS</h4>
          <h5>
            <a href="https://github.com/CalebCoughenour/AtchooClient.Solution" target="_blank" rel="noopener noreferrer"><u>ATCHOO DATING SERVICE</u></a> - <em>C#, HTML, CSS</em>
          </h5>
          <ul>
            <li>
              MVC web page with SQL database & authentication
            </li>
          </ul>
          <h5>
            <a href="https://github.com/CalebCoughenour/Design-Specialists" target="_blank" rel="noopener noreferrer"><u>FURNITURE WEBSITE</u></a> - <em>React, JavaScript, CSS</em>
          </h5>       
          <ul>
            <li>
              React site with styled components
            </li>
          </ul>   
        </div>
      </div>
      <h4>EXPERIENCE</h4>
      <h5><strong>Trader Joe's</strong> - <em>Crew Member</em></h5>
      <p>Falls Church, Va / Jacksonville, Fl / Mandarin, Fl / Portland, Or</p>
      <p>February 2013 - February 2022</p>
      <ul>
        <li>Built leadership and teamwork skills through section ownership while increasing sales revenue by hundreds of thousands in multiple stores </li>
        <li>Encouraged education and growth of new crew members through training and daily interactions</li>
        <li>Improved donation program by creating a more streamlined and organized system</li>
      </ul>
      <h5><strong>Advertising Solutions</strong> - <em>Front End Developer Intern</em></h5>
      <p>Portland, Or</p>
      <p>August 2022 - September 2022</p>
      <ul>
        <li>Organized thousands of pounds of food as it was brought into the facility </li>
        <li>Communicated and worked closesly with community members to cater to individual organization's needs</li>
      </ul>
      <h5><strong>Waste Not Want Not</strong> - <em>Volunteer</em></h5>
      <p>Mandarin, Fl</p>
      <p>January 2018 - March 2020</p>
      <ul>
        <li>Gained insight into what a day to day developer does in a real world setting</li>
        <li>Worked on client project and pushed my boundaries on what I am capable of achieving</li>
      </ul>
    </div>
</div>