@{
    ViewData["Title"] = "Caleb's Resume";
}
<ul class="topnav">
  <a id="nav-name-link" href="/"><h1 class="nav-title">Caleb Coughenour</h1></a>
  <li><a href="/">Home</a></li>
  <li><a href="/aboutme">About Me</a></li>
  <li><a href="/projects">Projects</a></li>
  <li><a href="/resume" class="active">Resume</a></li>
</ul>
<body class="resume-body">
  <div class="resume-card">
    <div class="resume-card-title"><a href="https://docs.google.com/document/d/1fP9ybhfBSJIL7zIm8efTW1MmTsP9uFf5RgdaZLqMcFY/edit?usp=sharing">Caleb Coughenour's Resume</a></div>
      <div class="card-body">
        <p>
          Vancouver, WA<br>
          (703) 498-9801<br>
          <a href="mailto: CalebCoughenour@protonmail.com">CalebCoughenour@protonmail.com</a><br>
          <a href="https://github.com/CalebCoughenour">github.com/CalebCoughenour</a><br>
          <a href="https://linkedin.com/in/CalebCoughenour">linkedin.com/in/CalebCoughenour</a>
        </p>
        <h4>Caleb Coughenour - Web Developer</h4>
        <hr />
        <h4>ABOUT ME</h4>
        <p>
          Dependable, hard working web developer currently attending Epicodus. Thrilled to be starting a new career path in the tech field after working in the customer service industry. So far, I’ve learned several programming and stylesheet languages such as C#, JS & HTML/CSS. After Epicodus I will be continuing to learn, building my knowledge and skill set by continuing to learn new languages and technologies.
        </p>
        <h4>SKILLS</h4>
        <p>
            Javascript * React * JQuery * C# * HTML * CSS * Node.js * ASP.NET * SQL
        </p>
        <p>
          TDD *	API * Database * Entity Framework * Git Versions Control * Pair Programming
        </p>
        <div class="row">
          <div class="col-6">
            <h4>EDUCATION</h4>
            <h5>
              <u>EPICODUS</u> - <em>C# & JavaScript</em>
            </h5>
            <p>March 2022 - Present, Portland OR</p>
            <ul>
              <li>Refined skills such as communication, organization & discipline through pair programming & the fast pace bootcamp</li>
              <li>Built over 40 projects as a pair or team</li>
              <li>Built 15 projects independently</li>
            </ul>        
          </div>
          <div class="col-6">          
            <h4>PROJECTS</h4>
            <h5>
              <a href="https://github.com/CalebCoughenour/AtchooClient.Solution"><u>ATCHOO DATING SERVICE</u></a> - <em>C#, HTML, CSS</em>
            </h5>
            <ul>
              <li>
                MVC web page with SQL database & authentication. Users can create a profile and see matches based off the allergies
              </li>
            </ul>
            <h5>
              <a href="https://github.com/CalebCoughenour/CMM-Crypto"><u>CRYPTO SITE</u></a> - <em>JavaScript, JQuery, HTML, CSS</em>
            </h5>       
            <ul>
              <li>
                Web page using five different APIs to display prices, transaction fees and GIFs. User can search any crypto and multiple date ranges
              </li>
            </ul>   
          </div>
        </div>
        <h4>EXPERIENCE</h4>
        <h5><strong>Trader Joe's</strong> - <em>Crew Member</em></h5>
        <p>Falls Church, Va / Jacksonville, Fl / Mandarin, Fl / Portland, Or</p>
        <p>February 2013 - February 2022</p>
        <ul>
          <li>Built leadership and teamwork skills through section ownership while increasing sales revenue by hundreds of thousands in multiple stores </li>
          <li>Encouraged education and growth of new crew members through training and daily interactions</li>
          <li>Improved donation program by creating a more streamlined and organized system</li>
        </ul>
        <h5><strong>Waste Not Want Not</strong> - <em>Volunteer</em></h5>
        <p>Mandarin, Fl</p>
        <p>January 2018 - March 2020</p>
        <ul>
          <li>Organized thousands of pounds of food as it was brought into the facility </li>
          <li>Communicated and worked closesly with community members to cater to individual organization's needs</li>
        </ul>
      </div>
  </div>
</body>