@{
    ViewData["Title"] = "About Me";
}
<ul class="topnav">
  <li><a href="/">Home</a></li>
  <li><a href="/aboutme" class="active">About Me</a></li>
  <li><a href="/projects">Projects</a></li>
  <li><a href="/resume">Resume</a></li>
</ul>
<h1>About Me</h1>
<div class="card">
  <div class="card-body">
    <div class="card-title"><h4>Caleb Coughenour</h4></div>
    <img id="selfie" src="./img/Photos-Of-Me/Selfie.jpg" alt="A photo of myself" />
    <div class="card-text">
      <p>
        I'd like to introduce and give some background about myself. Currently I live in Vancouver, Washington just across the river from Portland. I moved out to this area in summer of 2020 from Jacksonville Florida and quickly fell in love with the thoughtful community and stunning scenery. I grew up in northern Virginia in the suburbs of D.C. where I was involved with some community clubs like Demolay and played hockey for my High School, a few local clubs and travel teams. In 2015, I moved to Jacksonville Florida where I lived for five years before moving to where I am at now.
      </p>
      <p>
        In February 2022, I took a major step in my life towards a new career path. I signed up for the Epicodus Full Stack Web Developer course and began learning how to program. The course has been extremely beneficial in so many different ways. I've learned two programming languages, C# and JavaScript, and multiple styling languages like React, CSS and HTML. The course also taught me web standards for real world projects, how to work with different technologies and how to build a project from the ground up.
      </p>
    </div>
  </div>
</div>

