@{
    ViewData["Title"] = "About Me";
}
<ul class="topnav">
  <li><a href="/">Home</a></li>
  <li><a href="/aboutme" class="active">About Me</a></li>
  <li><a href="/projects">Projects</a></li>
  <li><a href="/resume">Resume</a></li>
</ul>
<h1>About Me</h1>
<div class="card">
  <div class="card-body">
    <div class="card-title"><h4>Caleb Coughenour</h4></div>
    <img id="selfie" src="./img/Photos-Of-Me/Selfie.jpg" alt="A photo of myself" />
    <div class="card-text">
      I'd like to introduce and give some background about myself. Currently I live in Vancouver, Washington just across the river from Portland. I moved out to this area in summer of 2020 and quickly fell in love with the thoughtful community and beautiful scenery. 

    @* will fill out more of this later *@
    </div>
  </div>
</div>

