@{
    ViewData["Title"] = "About Me";
}
<ul class="topnav">
  <a id="nav-name-link" href="/"><h1 class="nav-title">Caleb Coughenour</h1></a>
  <li><a href="/">Home</a></li>
  <li><a href="/aboutme" class="active">About Me</a></li>
  <li><a href="/projects">Projects</a></li>
  <li><a href="/resume">Resume</a></li>
</ul>
<body class="about-me-body">
  <div class="about-me-card">
    <div class="card-body">
      <div class="card-title"><h3>Caleb Coughenour</h3></div>
      <img id="selfie-img" src="./img/About-Me/selfie.jpg" alt="A photo of myself" />
      <div class="card-text">
        <p class="about-me-text">
          I'd like to introduce and give some background about myself. Currently I live in Vancouver Washington just across the river from Portland. I moved out to this area in summer of 2020 from Jacksonville Florida and quickly fell in love with the thoughtful community and stunning scenery. I grew up in northern Virginia in the suburbs of D.C. where I was involved with some community clubs like Demolay and played hockey for my High School, a few local clubs and travel teams. In 2015, I moved to Jacksonville Florida where I lived for five years before moving to where I am at now.
        </p>
        <p class="about-me-text">
          In February 2022, I took a major step in my life towards a new career path. I signed up for the Epicodus Full Stack Web Developer course and began learning how to program. The course has been extremely beneficial in so many different ways. I've learned two programming languages, C# and JavaScript, and multiple styling languages like React, CSS and HTML. The course also taught me web standards for real world projects, how to work with different technologies and how to build a project from the ground up.
        </p>
        <p class="about-me-text">
          Before Epicodus, I worked at Trader Joe's for 9 years. I worked in four different stores, one of which I helped open. In my time with the company, I worked all over in different roles. I worked for the art team, section leader for about half the store's sections and headed the community outreach for the brand new store. I had many opportunities to keep growing myself in my career which I took advantage of and learned many skills that transfer outside the customer service industry. Team work, communication and responsiblity being some of the few skills I focused on during my career. I left the company in 2022 so I could take the next step in my career. I felt that I had more potential than the opportunities that were available.
        </p>
        <p class="about-me-text">
          <img id="path-img" src="./img/About-Me/path.jpg" alt="A photo of a path in the woods" />
          Something I like to say is, "The best investment you can ever make is in yourself." I think that rings particularly true in the career field. I decided that I needed to invest in myself in order to grow and I believe that's already paying off. I have learned many valuable skills through Epicodus and through my own research which has allowed me to gain a solid base to build off for my career. I am a hard working individual that is willing to put in the time and effort to tackle any problem or job that may lie ahead of me. I am eager and excited to head down the path that lies ahead of me.
        </p>
        <p class="about-me-text">
          Thanks for reading about me! I hope this gives a little insight about who I am and what I do! Feel free to reach out to me by <a href="mailto: calebcoughenour@protonmail.com">email</a> or check out my <a href="/resume">resume</a>!
        </p>
      </div>
    </div>
  </div>
</body>
