/* Global Styles */

hr {
  border-top: 3px solid #000000;
}

img {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 5px 5px 0 0;
  border: solid 1px black;
}

ul {
  display: inline-block;
  text-align: left;
}



/* Project Page */

.project-card{
  margin-bottom: 10px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.project-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* Atchoo Details Page */




.atchoo-card{
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.atchoo-img {
  margin-left: 25px;  
  margin-bottom: 20px;
  width: 90%;
}

.atchoo-text-style {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.atchoo-header-style {
  text-align: center;
  text-decoration: underline;
}

#atchoo-github-link {
  text-decoration: underline;
  margin-bottom: 10px;
}

.atchoo-body {
  background-color: #26277caa;
}

/* Crpyto Site Styles */

.crypto-card{
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.crypto-img {
  margin-left: 25px;  
  margin-bottom: 20px;
  margin-right: 10px;
  width: 90%;
}

.crypto-text-style {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  text-align: center;
}

.crypto-header-style {
  text-align: center;
  text-decoration: underline;
}

#crypto-github-link {
  text-decoration: underline;
  margin-bottom: 10px;
}

.crypto-body {
  background-image: url('https://wallpapercave.com/wp/wp4678542.jpg');
}

/* SillyStringz site styles */

.sillystringz-card{
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.sillystringz-img {
  margin-left: 25px;  
  margin-bottom: 20px;
  margin-right: 10px;
  width: 90%;
}

.sillystringz-text-style {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  text-align: center;
}

.sillystringz-header-style {
  text-align: center;
  text-decoration: underline;
}

#sillystringz-github-link {
  text-decoration: underline;
  margin-bottom: 10px;
}

.sillystringz-body {
  background-color: #808080;
}

/* Pierre's Bakery site styles */

.pierres-card{
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.pierres-img {
  margin-left: 25px;  
  margin-bottom: 20px;
  margin-right: 10px;
  width: 90%;
}

.pierres-img-edited {
  margin-left: 25px;  
  margin-bottom: 20px;
  margin-right: 10px;
  width: 90%;
  height: 220px
}

.pierres-text-style {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  text-align: center;
}

.pierres-header-style {
  text-align: center;
  text-decoration: underline;
}

#pierres-github-link {
  text-decoration: underline;
  margin-bottom: 10px;
}

.pierres-body {
  background-color: rgb(216, 142, 3);
}

/* Nav bard styles */

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #04AA6D;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}