/* Global Styles */

hr {
  border-top: 3px solid #000000;
}

img {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 5px 5px 0 0;
  border: solid 1px black;
}



/* Project Page */

.project-card{
  margin-bottom: 10px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.project-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* Atchoo Details Page */




.atchoo-card{
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.atchoo-img {
  margin-left: 25px;  
  margin-bottom: 20px;
  width: 90%;
}

.atchoo-text-style {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.atchoo-header-style {
  text-align: center;
  text-decoration: underline;
}

#atchoo-github-link {
  text-decoration: underline;
  margin-bottom: 10px;
}