@{
    Layout = "_Splash";
}




@* <ul class="topnav">
  <li><a href="/" class="active">Home</a></li>
  <li><a href="/aboutme">About Me</a></li>
  <li><a href="/projects">Projects</a></li>
  <li><a href="/resume">Resume</a></li>
</ul>
<body id="home-body">
  <img id="home-img-banner" src="./img/Splash/mt-hood.jpg" />
</body> *@