<ul class="topnav">
  <a id="nav-name-link" href="/"><h1 class="nav-title">Caleb Coughenour</h1></a>
  <li><a href="/"><span class="material-icons">home</span>Home</a></li>
  <li><a href="/aboutme"><span class="material-icons">perm_identity</span>About Me</a></li>
  <li><a href="/projects"><span class="material-icons">folder_open</span>Projects</a></li>
  <li><a href="/resume"><span class="material-icons">article</span>Resume</a></li>
  <li><a href="/faq" class="active"><span class="material-icons">question_mark</span>FAQ</a></li>  
  <div class="dropdown">
    <button class="dropbtn"><span class="material-icons">mail</span>Contact</button>
    <div class="dropdown-content">
      <a class="dropdown-list" href="https://www.linkedin.com/in/CalebCoughenour">LinkedIn</a>
      <a class="dropdown-list" href="mailto: calebcoughenour@protonmail.com">Email</a>
      <li class="dropdown-number">(703)-498-9801</li>
    </div>
  </div>
</ul>
<div class="container">
  <button class="accordion">Section 1</button>
  <div class="panel">
    <p>Lorem ipsum...</p>
  </div>

  <button class="accordion">Section 2</button>
  <div class="panel">
    <p>Lorem ipsum...</p>
  </div>

  <button class="accordion">Section 3</button>
  <div class="panel">
    <p>Lorem ipsum...</p>
  </div>
</div>
<script src="~/js/faq.js" asp-append-version="true"></script>