@{
    ViewData["Title"] = "At'choo Dating Site Details";
}
<ul class="topnav">
  <li><a href="/">Home</a></li>
  <li><a href="/aboutme">About Me</a></li>
  <li><a href="/projects" class="active">Projects</a></li>
  <li><a href="/resume">Resume</a></li>
  <a href="/projects"><button class="back-button">&#60; back</button></a>
</ul>
<body class="atchoo-body">
  <div class="atchoo-card">
    <div class="card-body">
      <h1 class="atchoo-header-style">At-Choo Details</h1>
        <h3 class="atchoo-header-style"><a href="https://github.com/CalebCoughenour/AtchooClient.Solution">Github Link</a></h3>
        <div class="card-text">
            <img class="atchoo-img" src="..\img\Atchoo\homepage.png" alt="A screenshot of the homepage after log in." />
              <div class="row">                    
                <div class="col-6">
                  <div class="atchoo-text-style">
                    <h5 class="atchoo-header-style">Languages</h5>
                    <ul>
                      <li>C#</li>
                      <li>HTML</li>
                      <li>CSS</li>
                    </ul>
                  </div>
                </div>
                <div class="col-6">
                  <div class="atchoo-text-style">
                    <h5 class="atchoo-header-style">Technologies</h5>
                    <ul>
                      <li>ASP.NET Core</li>
                      <li>Identity</li>
                      <li>SQL</li>
                      <li>Entity Framework</li>
                    </ul>
                  /div>
                </div>
              </div>
              <div class="row">                 
                <div class="col-6">
                  <img class="atchoo-img" src="../img/Atchoo/Atchoo-Create-Profile.png" alt="Screenshot of create profile page.">
                </div>                
                <div class="col-6">
                  <img class="atchoo-img" src="../img/Atchoo/Atchoo-Created-Profile.png" alt="Screenshot of created profile.">
                </div>                  
              </div>
              <p class="atchoo-text-style">
                 A web application that allows a user to create authentication and login to the website with their authenticated credentials. After becoming an authorized user, a user can create a user profile and add their allergies. Once their user profile and allergies have been added our application will match users with other users with complimentary/similar allergies for dating purposes. The application has full crud functionality for authenticated users. Non-authenticated users can interact with the site and see the full list of allergies.
              </p>
              <div class="row">                 
                <div class="col-6">
                  <img class="atchoo-img" src="../img/Atchoo/Atchoo-Allergy-List.png" alt="Screenshot of all the allergies.">
                </div>
                <div class="col-6">
                  <img class="atchoo-img" src="../img/Atchoo/Atchoo-Matching-List.png" alt="Screenshot of Pollen allergies matches.">               
          </div>
        </div>
      </div>
    </div>
  </div>
</body>