@{
    ViewData["Title"] = "Furnite & Design Page";
}
<div class="furniture-card">
  <div class="card-body">
    <h1 class="furniture-header-style">Furnite & Design Page</h1>
    <h3 class="furniture-header-style"><a href="https://github.com/CalebCoughenour/Design-Specialists" target="_blank" rel="noopener noreferrer">Github Link</a></h3>
    <div class="card-text">
      <img class="furniture-img" src="../img/FurnitureSite/landing-page.gif" alt="A screenshot of the homepage." />
        <div class="row">                    
          <div class="col-lg-6">
            <div class="furniture-text-style">
              <h5 class="furniture-header-style">Languages</h5>
                <ul>
                  <li>JavaScript</li>
                  <li>React</li>
                  <li>CSS & HTML</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="furniture-text-style">
                <h5 class="furniture-header-style">Technologies</h5>
                  <ul>
                    <li>React Bootstrap</li>
                    <li>Styled Components</li>
                  </ul>
              </div>
            </div>
        </div>
        <div class="row">                 
          <div class="col-lg-6">
            <img class="furniture-img" src="../img/FurnitureSite/design-set-acc.gif" alt="Screenshot of the add vendor page.">
          </div>          
          <div class="col-lg-6">
            <img class="furniture-img" src="../img/FurnitureSite/about-contact.gif" alt="Screenshot of vendor list with added vendor.">
          </div>                  
        </div>
        <p class="furniture-text-style">
          This webpage is the shell of a product site for a mock furniture and design company. The landing page uses the react-bootstrap carousel, three cards with links to their respective pages, and a advertisement above the footer for the company. There is also three pages (designs, sets, and accessories) that use the map function to display and reuse different cards for an ecommerce type pages. The last two pages are contact and about us, the about us has a video that auto plays and loops and the contact is a centered form.
        </p>                                     
    </div>
  </div>
</div>