@{
    ViewData["Title"] = "Caleb's Projects";
}
<div class="jumbotron">
  <h1>Caleb Coughenour's Projects</h1>
</div>
<div class="card-body">
  <div class="row">
    <div class="col-lg-6">
      <div class="card-block">
      <div class="project-card">
          <div class="card-title">
            <a href="/projects/atchoodetails"><h1>At'Choo Dating Site</h1></a>
          </div>
          <h4 class="card-subtitle">C# - HTML - CSS - Javascript</h4>
          <img src="img/Atchoo/atchoo-home-page.png" alt="Screenshot of splash page for atchoo dating site">
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card-block">
        <div class="project-card">
          <div class="card-title">
            <a href="/projects/subscriptionpagedetails"><h1>Subscription Page</h1></a>
          </div>
          <h4 class="card-subtitle">Javascript - React - HTML - CSS </h4>
          <img src="img/Crypto/crypto-home-page.png" alt="Screenshot of splash page for crypto site">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="project-card">
        <div class="card-title">
          <a href="/projects/cryptodetails"><h1>Crypto API Site</h1></a>
        </div>
        <h4 class="card-subtitle">Javascript - CSS - HTML</h4>
        <img src="img/Crypto/crypto-home-page.png" alt="Screenshot of splash page for crypto site">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="project-card">
        <div class="card-title">
          <a href="/projects/sillystringzdetails"><h1>SillyStringz Details</h1></a>
        </div>
        <h4 class="card-subtitle">C# - HTML - CSS</h4>
        <img src="img/SillyStringz/sillystringz-home-page.png" alt="Screenshot of splash page for sillystringz webpage">
      </div>
  </div>      
</div>