@{
    ViewData["Title"] = "Pierre's Bakery Site Details";
}
<ul class="topnav">
  <li><a href="/">Home</a></li>
  <li><a href="/aboutme">About Me</a></li>
  <li><a href="/projects" class="active">Projects</a></li>
  <li><a href="/resume">Resume</a></li>
  <a href="/projects"><button class="back-button">&#60; back</button></a>
</ul>
<body class="pierres-body">
  <div class="pierres-card">
    <div class="card-body">
      <h1 class="pierres-header-style">Pierre's Bakery Project Details</h1>
      <h3 class="pierres-header-style"><a href="https://github.com/CalebCoughenour/PierresOrderTracker.Solution">Github Link</a></h3>
      <div class="card-text">
        <img class="pierres-img" src="..\img\PierresBakery/pierres-bakery-home-page.png" alt="A screenshot of the homepage." />
          <div class="row">                    
            <div class="col-6">
              <div class="pierres-text-style">
                <h5 class="pierres-header-style">Languages</h5>
                  <ul>
                    <li>C#</li>
                    <li>HTML</li>
                    <li>CSS</li>
                  </ul>
                </div>
              </div>
              <div class="col-6">
                <div class="pierres-text-style">
                  <h5 class="pierres-header-style">Technologies</h5>
                    <ul>
                      <li>ASP.NET</li>
                      <li>MVC</li>
                      <li>REPL</li>
                    </ul>
                </div>
              </div>
          </div>
          <div class="row">                 
            <div class="col-6">
              <img class="pierres-img" src="../img/PierresBakery/add-vendor.png" alt="Screenshot of the add vendor page.">
            </div>          
            <div class="col-6">
              <img class="pierres-img-edited" src="../img/PierresBakery/vendor-list.png" alt="Screenshot of vendor list with added vendor.">
            </div>                  
          </div>
          <p class="pierres-text-style">
            This website was made using the ASP.NET MVC standard. It is a site that asks a user to create their vendor. They then can add orders to the vendor that they have added. Once an order has been added the user can click the order to see the details of the entered order.
          </p>                
          <img class="pierres-img" src="../img/PierresBakery/new-order.png" alt="Screenshot of the new order page.">            
          <img class="pierres-img" src="../img/PierresBakery/vendor-order-list.png" alt="Screenshot of the order list with an example order.">
        <img class="pierres-img" src="../img/PierresBakery/order-details.png" alt="Screenshot of the order details page.">          
      </div>
    </div>
  </div>
</body>