@{
    ViewData["Title"] = "Pierre's Bakery Site Details";
}
<div class="pierres-card">
  <div class="card-body">
    <h1 class="pierres-header-style">Analytics Landing Page</h1>
    <h3 class="pierres-header-style"><a href="https://github.com/CalebCoughenour/Analytics-Landing-Page" target="_blank">Github Link</a></h3>
    <div class="card-text">
      <img class="pierres-img" src="../img/Sub-React/full-page-gif.gif" alt="A screenshot of the homepage." />
        <div class="row">                    
          <div class="col-lg-6">
            <div class="pierres-text-style">
              <h5 class="pierres-header-style">Languages</h5>
                <ul>
                  <li>JavaScript</li>
                  <li>React</li>
                  <li>CSS & HTML</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="pierres-text-style">
                <h5 class="pierres-header-style">Technologies</h5>
                  <ul>
                    <li>React Bootstrap</li>
                    <li>Styled Components</li>
                  </ul>
              </div>
            </div>
        </div>
        <div class="row">                 
          <div class="col-lg-6">
            <img class="pierres-img" src="../img/Sub-React/Video-Section.png" alt="Screenshot of the add vendor page.">
          </div>          
          <div class="col-lg-6">
            <img class="pierres-img-edited" src="../img/Sub-React/Slider-Section.png" alt="Screenshot of vendor list with added vendor.">
          </div>                  
        </div>
        <p class="pierres-text-style">
          This website is a mock landing page and was created using JavaScript and React. The header is a video that auto-loops and has the logo in the center. Below that there is a photo carousel that changes slides on a time interval. And at the bottom is the footer with an email sign-up form along with relavent site links.
        </p>                
        <img class="pierres-img" src="../img/Sub-React/Footer.png" alt="Screenshot of the new order page.">                     
    </div>
  </div>
</div>