@{
    ViewData["Title"] = "Caleb's Resume";
}
<ul class="topnav">
  <li><a href="/">Home</a></li>
  <li><a href="/aboutme">About Me</a></li>
  <li><a href="/projects">Projects</a></li>
  <li><a href="/resume" class="active">Resume</a></li>
</ul>
@* TO DO: add links to mail, github, linkedin...Fill out rest of resume *@
<div class="card">
  <div class="card-title"><a href="https://docs.google.com/document/d/1fP9ybhfBSJIL7zIm8efTW1MmTsP9uFf5RgdaZLqMcFY/edit?usp=sharing">Caleb Coughenour's Resume</a></div>
    <div class="card-body">
      <p>
        Vancouver, WA<br>
        (703) 498-9801<br>
        CalebCoughenour@protonmail.com<br>
        github.com/CalebCoughenour<br>
        linkedin.com/in/CalebCoughenour<br>
      </p>
      <h4>Caleb Coughenour - Web Developer</h4>
      <hr />
    </div>
</div>